/*!CK:2677361063!*//*1426000220,*/

.sp_Gxib9_6VmOR{background-image:url(/rsrc.php/v2/yd/r/hzNIusqiD3k.png);background-size:42px 68px;background-repeat:no-repeat;display:inline-block;height:22px;width:22px}.sp_Gxib9_6VmOR.sx_835417{background-position:-16px -12px}.sp_Gxib9_6VmOR.sx_2fc950{width:20px;height:20px;background-position:0 -46px}.sp_Gxib9_6VmOR.sx_123b55{width:16px;height:16px;background-position:-22px -46px}

#bootloader_rHJAv { height: 42px; }
.bootloader_rHJAv { display:block !important; }